*                        @tudor-n

/frontend/               @GrafRobert @Mihnea332

/backend/                @tudor-n @callmebeny

/shared/contracts/       @tudor-n @GrafRobert

/shared/docs/            @tudor-n @HStefan340 